/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

.custom-shape-divider-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom svg {
  display: block;
  width: calc(120% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom .shape-fill {
  fill: #FFFFFF;
}
